{% extends "base.html" %}

{% block content %}
<body>
    <h1>{% block title %}Converting Sets to Components{% endblock %}</h1>
    <h4>Sets based on instant buy price and components based on instant sell price</h4>
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    {% for header in headings %}
                    <th scope="col" class="text-center align-middle">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr>
                    {% for cell in row %}
                    <td class="text-center align-middle">{{ cell }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}